body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* main screen css */

img {
  width: 100%;
  text-align: center;
}

#container1 {
  position: relative;
}

/* first image background align */
#img-box1 {
  position: absolute;
  background-size: cover;
}

/* second image background align */
#img-box2 {
  position: absolute;
  width: 80%;
  height: fit-content;
  left: 10%;
  top: 40px;
}

#img-box2 img {
  border: 5px solid whitesmoke;
}

/* title - Travel css */
#img-box2 #title {
  position: absolute;
  color: whitesmoke;
  font-style: italic;
  text-align: center;
  font-size: 80px;
  font-family: 'Pacifico', cursive;
  width: 100%;
  top: 30%;
}


#img-box2 #container2 {
  position: absolute;
  width: 100%;
  height: 200px;
  top: 70%;
  text-align: center;
}

#img-box2 #container2 #input {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
}

#img-box2 #input #departure,
#img-box2 #input #destination {
  width: 50%;
  height: 50px;
  text-align: center;
}

input {
  font-size: 20px;
  font-family: 'Pacifico', cursive;
  text-align: center;
  color: black;
}

#container2 #start-div {
  margin-top: 30px;
}

#start-div #start-btn {
  font-size: 20px;
  font-family: 'Pacifico', cursive;
  text-align: center;
  color: whitesmoke;
  background-color: transparent;
  border: none;
}



/* main screen size change -> icon and text size change  */
@media screen and (min-width:1000px) {
  #img-box2 #title {
      font-size: 100px;
      margin: var(--padding) 0;
  }
}

@media screen and (min-width:1200px) {
  #img-box2 #title {
      font-size: 120px;
      margin: 12px 0;
  }
  
  input {
    font-size: 30px;
  }

  #start-div #start-btn {
    font-size: 30px;
  }

}


