body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* main screen css */

img {
  width: 100%;
  text-align: center;
}

#container {
  position: relative;
}

/* first image background align */
#img-box1 {
  position: absolute;
  background-size: cover;
}

/* second image background align */
#img-box2 {
  position: absolute;
  width: 80%;
  height: fit-content;
  left: 10%;
  top: 40px;
}

#img-box2 img {
  border: 5px solid whitesmoke;
}

/* title - Travel css */
#img-box2 #title {
  position: absolute;
  color: whitesmoke;
  font-style: italic;
  text-align: center;
  font-size: 80px;
  font-family: 'Pacifico', cursive;
  width: 100%;
  top: 30%;
}

/* start button css */
#img-box2 #start-btn {
  position: absolute;
  width: 100%;
  top: 80%;
}

#img-box2 #start-btn #logo {
  text-align: center;
  display: block;
  margin: auto;
  background-color: transparent;
  font-size: 10px;
  color: whitesmoke;
  border-radius: 10px;
  border: none;
}

#img-box2 #start-btn #start {
  font-style: italic;
  font-size: 20px;
  font-family: 'Pacifico', cursive;
  display: flex;
  align-items: center;
  margin-top: 5px;
  
}

/* main screen size change -> icon and text size change  */
@media screen and (min-width:1000px) {
  #img-box2 #title {
      font-size: var(--font-large-xxx);
      margin: var(--padding) 0;
  }
}

@media screen and (min-width:1200px) {
  #img-box2 #title {
      font-size: 120px;
      margin: 12px 0;
  }
  #img-box2 #start-btn #start {
      font-size: 40px;
  }
  #img-box2 #start-btn #logo {
      font-size: 20px;
  }
}