:root {
    /* Color */
    --white-color: #fff;
    --black-color: #0a0a0a;
    --blue-color: #045fd4;
    --red-color: #ff0000;
    --mint-light-color: #b3efe5;
    --pink-light-color: #F6C6EA;
    --yellow-light-color: #f6ec84;

    /* Size */
    --padding: 12px;
    --avatar-size: 36px;

    /* Font Size */
    --font-max: 150px;
    --font-large-xxx: 120px;
    --font-large-xx: 80px;
    --font-large-x: 60px;
    --font-large: 40px;
    --font-medium: 20px;
    --font-small: 10px;
}

html,
body {	
    margin: 0;	
    padding: 0;
}

/* main screen css */

img {
    width: 100%;
    height: 100%;
    text-align: center;
}

.container {
    position: relative;
}

/* first image background align */
.img-box1 {
    position: absolute;
    background-size: cover;
}

/* second image background align */
.img-box2 {
    position: absolute;
    width: 80%;
    height: fit-content;
    left: 10%;
    top: 40px;
}

.img-box2 img {
    border: 5px solid var(--white-color);
}

/* title - Travel css */
.img-box2 .title {
    position: absolute;
    color: var(--white-color);
    font-style: italic;
    text-align: center;
    font-size: var(--font-large-xx);
    font-family: 'Pacifico', cursive;
    width: 100%;
    top: 30%;
}

/* start button css */
.img-box2 .start-btn {
    position: absolute;
    width: 100%;
    top: 80%;
}

.img-box2 .start-btn .logo {
    text-align: center;
    display: block;
    margin: auto;
    background-color: transparent;
    font-size: var(--font-small);
    color: var(--white-color);
    border-radius: 10px;
    border: none;
}

.img-box2 .start-btn .start {
    font-style: italic;
    font-size: var(--font-medium);
    font-family: 'Pacifico', cursive;
    display: flex;
    align-items: center;
    margin-top: 5px;
    
}

/* main screen size change -> icon and text size change  */
@media screen and (min-width:1000px) {
    .img-box2 .title {
        font-size: var(--font-large-xxx);
        margin: var(--padding) 0;
    }
}

@media screen and (min-width:1200px) {
    .img-box2 .title {
        font-size: var(--font-max);
        margin: var(--padding) 0;
    }
    .img-box2 .start-btn .start {
        font-size: var(--font-large);
    }
    .img-box2 .start-btn .logo {
        font-size: var(--font-medium);
    }
}


/* sub1 input screen css */

/* sub1 header css */
header {
    width: 100%;
    height: 20%;
    position: absolute;
    max-height: 150px;
    background-color: var(--mint-light-color);
}

/* sub1 home button css */
header .home {
    color: var(--white-color);
    background-color: transparent;
    text-align: center;
    border: none;
}

header .home span {
    color: var(--white-color);
    font-style: italic;
    text-align: center;
    font-size: var(--font-large-x);
    font-family: 'Pacifico', cursive;
}

article {
    width: 100%;
    height: 60%;
    position: relative;
    top: 150px;
    background-color: var(--white-color);
}

article .input {
    width: 50%;
    height: 100%;
    position: absolute;
    text-align: center;
}

article .input-destination .destination,
article .input-destination .departure {
    width: 80%;
    margin: 10%;
    background-color: var(--yellow-light-color);
    border-radius: 10px;
    color: var(--white-color);
    font-size: var(--font-large);
    font-family: 'Pacifico', cursive;
    font-style: italic;
}

article .input-destination input{
    width: 80%;
    height: 40px;
    margin: 10%;
    text-align: center;
    border: none;
}

/* sub1 enter button css */
article .save-div {
    width: 100%;
    text-align: center;
}

article .save-btn {
    width: 100px;
    height: 40px;
    text-align: center;
    border: none;
    border-radius: 10px;
    background-color: var(--pink-light-color);
    color: var(--white-color);
}

article .save-btn .save {
    text-align: center;
    font-size: var(--font-medium);
    font-family: 'Pacifico', cursive;
    font-style: italic;
}

/* sub1 map image css */
article section .temp{
    width: 50%;
    position: absolute;
    left: 50%;
}

/* sub1 footer css */
footer {
    width: 100%;
    height: 20%;
    max-height: 100px;
    position: absolute;
    bottom: 0;
    text-align: center;
    background-color: var(--mint-light-color);
}


/* sub1 before and next button css */
.before-next-btn .logo-before,
.before-next-btn .logo-next {
    text-align: center;
    display:inline-block;
    background-color: transparent;
    color: var(--white-color);
    border: none;
}

.before-next-btn .before,
.before-next-btn .next {
    font-style: italic;
    font-size: var(--font-medium);
    text-align: center;
    font-family: 'Pacifico', cursive;
    display: flex;
    align-items: center;
    margin-top: 5px;

}

.before-next-btn .logo-before {
    margin-right: 10%;
}

.before-next-btn .logo-next {
    margin-left: 10%;
}


/* sub2 result screen css */

/* sub2 place info css */
article .path-info {
    width: 50%;
    position: absolute;
}

article .path-info .place {
    width: 100%;
    padding: 5%;
    text-align: center;
}

article .path-info .place .departure,
article .path-info .place .destination {
    width: 100%;
    margin: 5%;
    padding: 1%;
    background-color: var(--yellow-light-color);
    color: var(--white-color);
    font-style: italic;
    font-size: 30px;
    text-align: center;
    font-family: 'Pacifico', cursive;
    border-radius: 10%;
}

article .path-info .place i {
    font-size: var(--font-medium);
    color: var(--mint-light-color);
}

/* 미정 부분 */
article .temp {
    width: 50%;
    position: absolute;
    left: 50%;
}